{deps, [{lager, {git, "https://github.com/basho/lager.git", {tag, "3.0.1"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}},
        {shotgun, {git, "https://github.com/inaka/shotgun.git", {tag, "0.1.12"}}},
        {qdate, {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.1"}}}
       ]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{profiles, [{dev, [{erl_opts, [debug_info]}]}]}.

%% vim: ft=erlang
