[{podcast_recoder,
  [{feeds, #{<<"freakshow">> => <<"http://freakshow.fm/feed/m4a/">>,
             <<"amp_hour">> => <<"http://feeds.feedburner.com/theamphour">>,
             <<"resonator">> => <<"http://resonator-podcast.de/feed/m4a/">>,
             <<"dlf-forschung-aktuell">> =>
                 <<"http://www.deutschlandfunk.de/podcast-forschung-aktuell.677.de.podcast.xml">>}},
   {base_url, <<"http://localhost:8080/">>}]},
 {lager,
  [{colored, true}]}].

%% vim: ft=erlang
