[{podcast_recoder,
  [{feeds, #{<<"freakshow">> => <<"http://freakshow.fm/feed/m4a/">>,
             <<"amp_hour">> => <<"http://feeds.feedburner.com/theamphour">>,
             <<"resonator">> => <<"http://resonator-podcast.de/feed/m4a/">>,
             <<"dlf-forschung-aktuell">> =>
                 <<"http://www.deutschlandfunk.de/podcast-forschung-aktuell.677.de.podcast.xml">>}},
   %{base_url, <<"http://192.168.41.35:8080/">>}]},
   {base_url, <<"http://localhost:8080/">>}, % publicly reachable
   {max_workers, 2},                        % how many jobs to run at the same time
   {max_feeds_cache_size, 1048576},     % how many KiB of feeds to keep in cache
   {max_enclosures_cache_size, 4194304} % how many KiB of enclosures to keep in cache
  ]},
 {lager,
  [{handlers,
    [{lager_console_backend,
      [info, {lager_default_formatter,
              [time, color, " [",severity,"] ", {module, [module, ": "], ""}, message, "\e[0m\n"]}]},
     {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
     {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]},
   %{error_logger_redirect, false},
   {colored, true}
  ]
 }
].

%% vim: ft=erlang
